body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    margin-top: 10px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 

.container2 {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px; 
}

.headline {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50; 
    margin-top: 20px;  
    margin-bottom: 0;  
    text-align: center;
}

.headline2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px; 
    color: #3D3A3A;
    margin-left: 70px;
    margin-right: 70px; 
    text-align: center; 
}

.contact-information {
    display: flex;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif; 
    gap: 40px;
}

.container3 {
    display: flex;
    width: 50%;
   
  }
  
  form {
    flex: 1;
    margin-top: 100px;
    margin-left: 260px;
  }
  
  label,
  input,
  textarea,
  button {
    margin-bottom: 10px;
  }

  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 600px; 
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ECE8E4; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  
  button {
    background-color: #B80D0D;  
    color: #fffffd;
    font-size: 12px; 
    padding: 8px 13px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
    margin-right: 150px; 
  }
  
  button:hover {
    background-color: #d95353; 
  }

  .portrait3 {
    flex: 1;
    height: 400px;
    margin-left: 100px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    gap: 300px;     
}

.footer {
    width: 100%;
    background-color: #3D3A3A; 
    color: #fffffd; 
    text-align: center;
    position: fixed;
    position: absolute;
    margin-top: 200px;
}

@media only screen and (min-width: 767px) and (max-width: 1300px) {
  .logo {
    margin-right: 100px;
}

.container3 {
  display: flex;
  flex-direction: column-reverse;
  margin-left: -40px;
}

.footer-content {
  gap: 30px;
}
}


@media screen and (max-width: 767px) {

/*Hvordan min menubar ser ud på mobilversion*/
.container {
  width: 100%; 
  flex-wrap: wrap;  
}

.logo {
  margin: 0 auto 20px; 
  margin-top: 10px; 
}

/*mine menupunkter*/
.item {
  margin-left: 30px;


}
.line {
  margin-top: 10px; 
}

.container2 {
  width: 100%;
  margin-left: 0; 
}

.contact-information {
  display: flex;
  flex-direction: column; 
  text-align: center;
  gap: 5px;
}

.container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  margin-left: 0;
}

input[type="text"],
  input[type="email"],
  textarea {
    width: 350px;
  }

  .footer-content {
    gap: 30px;
    font-size: 12px;
}




}