body {
    background-color: #fffffd; 
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: #000000;   
}
.menubar {
    display: flex;  
    justify-content: flex-end; 
    margin-left: 80px; 
}

.item {
    font-size: 15px; 
    padding-top: 20px;
    color: #3D3A3A; 
       
}
.item a:hover {   
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 20px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    margin-right: 800px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    color: #000000;  
}
/*hvilken størrelsen mine menupunkter er*/
.item {
    font-size: 15px; 
    padding-top: 20px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif;  
}

 
/*mit billede med tekst ved siden af*/
.container2 {
    background-color: #ECE8E4;    
}
img {
    height: 500px; 
    margin-top: 20px;
    margin-bottom: 50px; 
    margin-left: 50px;
}
.content {
    display: flex;
}

.text { 
    margin-top: 30px;
}

/*Hvem er jeg rubrik*/ 
.headline {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;     
    padding-top: 50px;
}
/*En dedikeret multimediedesigner....*/
.headline2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
    color: #3D3A3A;
    margin-top: 20px;
}
/*Min tekst om mig selv*/ 
.text { 
    margin-left: 70px;
}
.bodytext { 
    line-height: 1.5;
    font-size: 15px;
    margin-right: 120px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #3D3A3A;
}
.button { 
    background-color: #B80D0D;  
    color: #fffffd;
    font-size: 12px; 
    padding: 8px 13px;
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
}
/*For at få understregnigen og den farve fra linket væk*/
.button a {
    text-decoration: none;  
    color: #fffffd; 
}
.button:hover { 
    background-color: #d95353;  
}

/*Mine kompetencer med et billede af de forskellige adobe logoer*/
.container3 {
    flex-direction: column; 
    text-align: center;
    margin-top: 50px;   
}







