body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    margin-top: 10px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 

/*mit billede med tekst ved siden af*/
.container2 {
    background-color: #ECE8E4;   
    height: 520px; 
}
img {
    height: 500px; 
    margin-top: 20px;
    margin-bottom: 50px; 
    margin-left: 50px;
}
.content {
    display: flex;
}

.text { 
    margin-top: 10px; 
}

/*Hvem er jeg rubrik*/ 
.headline { 
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;     
    padding-top: 50px;
}
/*En dedikeret multimediedesigner....*/
.underheadline { 
    font-family: merriweather;
    font-size: 30px; 
    color: #3D3A3A;
    margin-top: 20px;
}
/*Min tekst om mig selv*/ 
.text { 
    margin-left: 70px;
}
.bodytext { 
    line-height: 1.5;
    font-size: 15px;
    margin-right: 300px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #3D3A3A;
}
.button { 
    background-color: #B80D0D;  
    color: #fffffd;
    font-size: 12px; 
    padding: 8px 13px;
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
}
/*For at få understregnigen og den farve fra linket væk*/
.button a {
    text-decoration: none;  
    color: #fffffd; 
}
.button:hover { 
    background-color: #d95353;  
}

/*Mine kompetencer med et billede af de forskellige adobe logoer*/
.container3 {
    text-align: center;    
}

.headline2 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;     
    padding-top: 50px;
}

.underheadline2 {
    font-family: merriweather;
    font-size: 30px; 
    color: #3D3A3A;
}

.skills {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    line-height: 1.5;
}



.adobelogo {
    height: 70px;
}

.lightroom {
    display: flex;
}

.skillstext {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    margin-right: 150px;
    margin-top: 60px;
}

.illustrator {
    display: flex;
}

.premierepro {
    display: flex;
}

.indesign {
    display: flex;
}

.photoshop {
    display: flex;
    margin-left: -20px;
}

.aftereffects {
    display: flex;
}

.projectmanagement {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.projecticons {
    display: flex;
    justify-content: center;
}

.projecticons img {
    height: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 300px;     
}

.footer {
    width: 100%;
    background-color: #3D3A3A; 
    color: #fffffd; 
    text-align: center;
    margin-top: 200px;
    position: fixed;
    position: absolute;
}
@media only screen and (min-width: 767px) and (max-width: 1300px) {
    .logo {
        margin-right: 100px;
    }

    .bodytext {
        width: 100%;
        font-size: 12px;
    }

    .footer-content {
        gap: 140px;
    }

    
}



@media screen and (max-width: 767px) {

    /*Hvordan min menubar ser ud på mobilversion*/
    .container {
      width: 100%; 
      flex-wrap: wrap;  
    }
    
    .logo {
      margin: 0 auto 20px; 
      margin-top: 10px; 
    }
    
    /*mine menupunkter*/
    .item {
      margin-left: 30px;
    
    
    }
    .line {
      margin-top: 10px; 
    }

    .container2 {
        height: 1000px;
    }

    .content {
        display: flex;
        flex-direction: column;
        
    }
    
    img {
        height: 300px;
        margin-bottom: -80px;
    }

    .text {
        margin-left: 0; 
    }

    .bodytext {
        width: 100%;
    }

    .skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .footer-content {
        gap: 20px;
        font-size: 12px;
    }

    

}








