body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    margin-top: 10px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 
.containertext {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px; 
}

/*Mit portfolio*/
.portfolioheadline {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50; 
    margin-top: 20px;  
    margin-bottom: 0;  
    text-align: center;
}
/*Nedenfor kan du se....*/
.underheadline { 
    font-family: merriweather; 
    font-size: 30px; 
    color: #3D3A3A;
    margin-left: 70px;
    margin-right: 70px; 
    text-align: center; 
}

.picture123 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container1 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.container1 img {
    height: 250px;
    text-align: center;
    margin-top: 70px;
}

.headline1 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;
    margin-top: 93px; 
}

.container2 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.container2 img {
    height: 400px;
    text-align: center;
}

.headline2 {
    font-family: merriweather;  
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;
}

.container3 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.container3 img {
    height: 280px;
    margin-left: 5px;
    margin-top: 60px;
}

.headline3 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;
    margin-top: 75px;
}

.picture456 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
}

.container4 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.container4 img {
    height: 400px;
    margin-left: 20px;
}

.headline4 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D;
    font-weight: 50;
}

.container5 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.video {
    height: 400px;
    width: 400px;   
}

.headline5 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D;
    font-weight: 50;
}


.container6 {
    background-color: #ECE8E4; 
    height: 400px;
    width: 400px;
}

.container6 img {
    height: 250px;
    margin-top: 80px;
}

.headline6 {
    font-family: merriweather; 
    font-size: 15px; 
    color: #B80D0D;
    font-weight: 50;
    margin-top: 85px;
}

.text {
    font-family: merriweather;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 300px;     
}

.footer {
    width: 100%;
    background-color: #3D3A3A; 
    color: #fffffd; 
    text-align: center;
    margin-top: 200px;
    position: fixed;
    position: absolute;
}

@media only screen and (min-width: 767px) and (max-width: 1300px) {
    .logo {
        margin-right: 100px;
    }

    .picture123 {
        flex-wrap: wrap; 
    }

    .container1 {
        height: 300px;
        width: 300px;
    }

    .container1 img {
        height: 190px;
    }

    .headline1 {
        margin-top: 55px;
    }

    .container2 {
        height: 300px;
        width: 300px; 
    }

    .container2 img {
        height: 300px;
    }

    .container3 {
        height: 300px;
        width: 300px;
        margin-top: 150px;
    }

    .container3 img {
        height: 210px;
    }

    .picture456 {
        flex-wrap: wrap; 
        margin-top: 200px;   
    }

    .container4 {
        height: 300px;
        width: 300px;
    }

    .container4 img {
        height: 300px;
    }

    .container5 {
        height: 300px;
        width: 300px;
    }

    .video {
        height: 300px;
        width: 300px; 
    }

    .container6 {
        height: 300px;
        width: 300px;
        margin-top: 150px;
    }

    .container6 img {
        height: 150px;
        margin-left: 30px;
    }

    .footer-content {
        gap: 30px;
    }
}







@media screen and (max-width: 767px) {  

    /*Hvordan min menubar ser ud på mobilversion*/
    .container {
        width: 100%; 
        flex-wrap: wrap;  
    }

    .logo {
        margin: 0 auto 20px; 
        margin-top: 10px; 
    }

    /*mine menupunkter*/
    .item {
        margin-left: 30px;


    }
    .line {
        margin-top: 10px; 
    }

    .containertext {
        width: 100%; 
        margin-left: 0;
    }

    .underheadline {
        font-size: 20px; 
    }

    .picture123 {
        display: flex;
        flex-direction: column; 
        gap: 140px;
    }

    .picture456 {
        display: flex;
        flex-direction: column; 
        gap: 140px;
    }

    .footer-content {
        gap: 20px;
        font-size: 12px;
    }









}


