body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
    justify-content: flex-end; 
    margin-left: 80px; 
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    margin-right: 820px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 
.container2 {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px; 
}

.headline {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50; 
    margin-top: 20px;  
    margin-bottom: 0;  
    text-align: center;
}

.underheadline { 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 30px; 
    color: #3D3A3A;
    margin-left: 70px;
    margin-right: 70px; 
    text-align: center; 
}

