body {
    background-color: #fffffd; 
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: #000000;   
}
.menupunkter {
    display: flex;  
    justify-content: flex-end; 
    margin-left: 80px; 
}

.item {
    font-size: 15px; 
    padding-top: 20px;
    color: #3D3A3A; 
       
}
.item a:hover {   
    color: #B80D0D; 
}

.streg {
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 20px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    margin-right: 800px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    color: #000000;  
}
/*hvilken størrelsen mine menupunkter er*/
.item {
    font-size: 15px; 
    padding-top: 20px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif;  
}

.streg {
    border-top: 1px solid black; 
    width: 100%; 
}

.container2 {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px; 
}

.rubrik {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50; 
    margin-top: 20px;  
    margin-bottom: 0;  
    text-align: center;
}

.underrubrik {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 30px; 
    color: #3D3A3A;
    margin-left: 70px;
    margin-right: 70px; 
    text-align: center; 
}