body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
    justify-content: flex-end; 
    margin-left: 80px; 
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    margin-right: 820px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 

/* Portraetbillede med tekst ved siden af*/
.container2 {
    background-color: #ECE8E4;
    height: 620px;
}
.content {
    display: flex;
    align-items: center; 
    padding: 120px
}

img { 
    height: 500px;  
    margin-left: 0;  
    margin-bottom: 100px;
}

/*mine 3 forskellige overskrifter ved siden af billedet*/

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
   margin-bottom: 200px;
}

/* skab med passion, design med formål*/
.headline {
    font-family: merriweather; 
    font-size: 75px;  
    color: #3D3A3A;      
    margin-left: 70px; 

}
/*Sophie Jespersen*/
.underheadline { 
    font-family: merriweather; 
    font-size: 35px; 
    font-weight: 50; 
    color: #3D3A3A;  
   margin-top: -50px;  
   
  
}
/*Multimediedesigner*/
.multimedia {
    font-family: merriweather; 
    font-size: 20px;
    color: #3D3A3A; 
    font-weight: 50;
    margin-top: -25px;   
}

.button { 
    background-color: #B80D0D;  
    color: #fffffd;
    font-size: 12px; 
    padding: 8px 13px;
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
}

/*For at få understregnigen og den farve fra linket væk*/
.button a {
    text-decoration: none;  
    color: #fffffd; 
}

.button:hover { 
    background-color: #d95353; 
}

.container3 {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px;   
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

/*Hvad kan jeg tilbyde?*/
.h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;
    text-align: center;
    margin-top: 60px;
}
/*En bred vifte af tjenester og færdigheder....*/
.headline2 {
font-family: 'Times New Roman', Times, serif; 
font-size: 30px; 
color: #3D3A3A;
margin-top: 20px;
text-align: center;
margin-left: 70px;
margin-right: 70px;
}

.text2 {
    display: flex; 
    line-height: 1.5; 
}

.paragraph2 {
    margin-left: 50px;
}

.paragraph3 {
    margin-left: 50px;
}
/*de 3 forskellige ting jeg kan tilbyde*/
.big {
    font-size: 30px;
}

.paragraph {
    font-size: 15px; 
}

.bold {
    color: #B80D0D; 
}

.facebook-link img { 
    height: 50px;  
}
.insta-link img { 
    height: 50px;   
}

.footer {
    background-color: #3D3A3A; 
    color: #fffffd; 
    width: 100%; 
    margin: 0;

}

.container4 {
    display: flex;  
    justify-content: center; 
    justify-content:space-around;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
}

.links a {
    text-decoration: none;
    color: #fffffd;  
}

.h5 {
    font-size: 25px;
}

.item2 a:hover {    
    color: #B80D0D; 
}

.item2 {
    margin-bottom: 13px;
}

.bottom-bar {
    background-color: #cec7bf; 
    width: 100%; 
    color: #3D3A3A; 
    padding: 5px 5px; 
    text-align: center; 
}










@media screen and (max-width: 600px) {
    /*Hvordan min menubar ser ud på mobilversion*/
    .container {
        flex-wrap: wrap; 
        text-align: center; 
    }

    .logo {
        margin: 0 auto 20px; 
        margin-top: 10px; 
    }

    .item {
        margin: 0 auto; 
    }
    .line {
        margin-top: 10px; 
    }

    /*Hvordan mit billedet og tekster ser ud på mobilversion*/
    .content {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    img {
        height: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: merriweather; 
    }

    .headline {
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 35px;   
        font-weight: 350; 

    }

    .underheadline {
        text-align: center;
        margin: 0 auto;
        font-size: 25px;  
        font-weight: 350;
    }

    .multimedia {
        text-align: center;
        margin: 0 auto;
        font-size: 15px;  
        font-weight: 350;  
    }

    .content2 { 
        display: flex; 
        justify-content: space-between; 
        margin-right: 0; 
        margin-left: 0; 
        font-size: 12px;  
    }

}