body {
    background-color: #fffffd; 
    margin: 0;
    padding: 0;
}

/*Min menubar med logo og menupunkter*/
.container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
nav a  {
    padding: 20px; 
    text-decoration: none;
    color: black; 
}
.menubar {
    display: flex;  
}

.item {
    font-size: 15px; 
    padding-top: 40px;
    color: #3D3A3A; 
    font-family: Arial, Helvetica, sans-serif; 
}
.item a:hover {    
    color: #B80D0D; 
}

.line { 
    border-top: 1px solid black; 
    width: 100%; 
    padding-top: 22px;
    margin-top: 10px;
    color: #3D3A3A; 
}

/* Mit logo*/
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px; 
    color: #000000;  
    padding-top: 20px; 
} 

/* Portraetbillede med tekst ved siden af*/
.container2 {
    background-color: #ECE8E4;
    height: 620px;
}
.content {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    padding: 120px
}

img { 
    height: 500px;  
    margin-left: 0;  
    margin-bottom: 400px; 
}

/*mine 3 forskellige overskrifter ved siden af billedet*/

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
   margin-bottom: 500px;
}

/* skab med passion, design med formål*/
.headline {
    font-family: merriweather; 
    font-size: 70px;  
    color: #3D3A3A;      
    margin-left: 70px; 

}
/*Sophie Jespersen*/
.underheadline { 
    font-family: merriweather; 
    font-size: 35px; 
    font-weight: 50; 
    color: #3D3A3A;  
   margin-top: -50px; 
   margin-left: 40px;
   
  
}
/*Multimediedesigner*/
.multimedia {
    font-family: merriweather; 
    font-size: 20px;
    color: #3D3A3A; 
    font-weight: 50;
    margin-top: -25px; 
    margin-left: 40px; 
}

.button { 
    background-color: #B80D0D;  
    color: #fffffd;
    font-size: 12px; 
    padding: 8px 13px;
    border: none;
    border-radius: 8px; 
    cursor: pointer; 
    margin-left: 40px;
}

/*For at få understregnigen og den farve fra linket væk*/
.button {
    text-decoration: none;  
    color: #fffffd; 
}

.button:hover { 
    background-color: #d95353; 
}

.container3 {
    flex-direction: column; 
    margin-left: 200px;
    margin-right: 200px;   
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

/*Hvad kan jeg tilbyde?*/
.h4 {
    font-family: merriweather;  
    font-size: 15px; 
    color: #B80D0D; 
    font-weight: 50;
    text-align: center;
    margin-top: 60px;
}
/*En bred vifte af tjenester og færdigheder....*/
.underheadline2 {
font-family: merriweather; 
font-size: 30px; 
color: #3D3A3A;
margin-top: 20px;
text-align: center;
margin-left: 70px;
margin-right: 70px;
}

.text2 {
    display: flex; 
    justify-content: center;
    gap: 50px;
    line-height: 1.5; 
}

/*de 3 forskellige ting jeg kan tilbyde*/
.big {
    font-size: 30px;
}


.bold {
    color: #B80D0D; 
}


.footer-content {
    display: flex;
    justify-content: center;
    gap: 260px;     
}

.footer {
    width: 100%;
    background-color: #3D3A3A; 
    color: #fffffd; 
    text-align: center;
    position: fixed;
    position: absolute;
}
@media only screen and (min-width: 767px) and (max-width: 1300px) {  
   .logo {
    margin-right: 300px;
   }

   .container2 {
    height: 950px;
   }

   .content {
    display: flex;
    flex-direction: column-reverse;    
}

.text {
    margin-top: -400px;
}
.headline {
    width: 100%;
    font-size: 50px;
    margin-bottom: 0; 
    text-align: center;
}

.underheadline {
    margin-top: 5px;
}

.underheadline2 {
    width: 100%;
    margin-left: -10px;
}

.text2 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.footer-content {
    gap: 30px;
}

}



@media screen and (max-width: 767px) {  

    /*Hvordan min menubar ser ud på mobilversion*/
    .container {
        width: 100%; 
        flex-wrap: wrap;  
    }

    .logo {
        margin: 0 auto 20px; 
        margin-top: 10px; 
    }

    /*mine menupunkter*/
    .item {
        margin-left: 30px;


    }
    .line {
        margin-top: 10px; 
    }

    /*Hvor lang min beige kasse er*/
    .container2 {
        height: 650px; 
    }

    .content {
        display: flex;
        flex-direction: column-reverse;   
    }

    /*Mit billede*/
    img {
        height: 300px;
        text-align: center; 
        margin-top: -50px;
    }

    .text {
        text-align: center;
        margin-top: -400px;
    }
    /*Skab med passion, design med formål*/
    .headline {
        font-size: 30px; 
        width: 100%; 
        margin-right: 60px;
    }

    /*Sophie Jespersen*/
    .underheadline {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 0; 
        margin-right: 25px;
    }

    /*Multimediedesigner*/
    .multimedia {
        font-size: 13px;
        margin-top: 5px;
        margin-right: 25px;
    }

    .button {
        margin-right: 25px;
    }

    .container3 {
        width: 100%;
        margin-left: 0; 
    }

    /*Hvad kan jeg tilbyde?*/
    h4 {
        font-size: 8px;
    }

    /*en bred vifte...*/
    .underheadline2 {
        font-size: 20px;
    }

    /*Mine 3 forskellige tekster*/
    .text2 {
        display: flex;
        flex-direction: column; 
        margin-left: 0; 
    }

    .footer-content {
        gap: 20px;
        font-size: 12px;
    }

}